.apply-page{
    background: #f3f4fe;
    padding-top: 60px;
    padding-bottom:20%;
}

.apply-wrapper {
    text-align: center;
    max-width: 850px;
    margin: 0px auto;
    background: var(--white);
    padding: 60px 60px;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
}

.apply-btn {
    display: inline-flex;
    flex-direction: horizontal;
    gap: 40px, 0px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 500;
    font-size: 16px;
    border-radius: 30px;
    padding: 15px 25px;
    border: 1px solid transparent;
    color: var(--white);
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    background: var(--primary-color);
}

@media only screen and (min-width: 576px) and (max-width: 850px) {
    .apply-container {
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: horizontal;
      gap: 20px 10px;
    }
}

.ud-single-pricing .ud-border-btn {
    border: 1px solid #d4deff;
    color: var(--primary-color);
    background: var(--white);
  }

  .ud-single-pricing .ud-border-btn:hover {
    color: var(--white);
    border-color: var(--primary-color);
    background: var(--primary-color);
  }



@media (max-width: 767px) {
    .court-hours-table-wrapper {
        padding: 5px 5px;
    }
    .court-hours-table {
      width: 100%;
    }
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #d0d9f7;
}